<h1>Alter Your Alteration</h1>

<%= form_for @alteration do |f| %>
    
    <%= f.label "Select Item(s):" %>
    <p><%= f.collection_check_boxes(:item_type_id, ItemType.all, :id, :name) %></p>
    <%= f.label "Select a Tailor:" %>
    <%= f.collection_select(:tailor_id, Tailor.all, :usable_id, :name)%><br><br>
    <%= f.label :date, "Needed By:" %>
    <%= f.date_field :date %>
    <%= f.label :comments %>
    <%= f.text_area :comments %><br><br>
    <%= f.submit %>
<% end %><br>

<%= link_to 'Back', alterations_path %>
