<p id="notice"><%= notice %></p>

<h1>Alterations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alterations.each do |alteration| %>
      <tr>
        <td><%= link_to 'Show', alteration %></td>
        <td><%= link_to 'Edit', edit_alteration_path(alteration) %></td>
        <td><%= link_to 'Destroy', alteration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alteration', new_alteration_path %>
