<h1>Create an alteration</h1>

<%= form_for @alteration do |f| %>
    <%= f.label "Item" %>
    <%= f.collection_select(:item_type_id, ItemType.all, :id, :name) %><p>

    <%= f.label "Name of Client" %>
    <%= f.text_field :client %><p>
    <%= f.label "Name of Tailor" %>
    <%= f.collection_select(:tailor_id, Tailor.all, :id, :name)%><p>
    <%= f.submit %>
<% end %>

<%= link_to 'Back', alterations_path %>
