<p id="notice"><%= notice %></p>
<h1>Order Confirmation</h1>

<h4> Your Information:</h4>
<%= @alteration.client.user.name %><br>
<%= @alteration.client.user.street %><br>
<%= @alteration.client.user.city %> , <%= @alteration.client.user.state %> <%= @alteration.client.user.zip_code %><p>

<h4>Your Tailor Information:</h4>
<%= @alteration.tailor.user.name %><br>
<%= @alteration.tailor.user.street %><br>
<%= @alteration.tailor.user.city %>, <%= @alteration.tailor.user.state %> <%= @alteration.tailor.user.zip_code %><br>

<h4>Your Tailor Submission Info:</h4><p>

Waist: <%= @alteration.client.measurement.waist %><br>
Chest/Bust: <%= @alteration.client.measurement.chest_bust %><br>
Hips: <%= @alteration.client.measurement.hips %><br>
Rise: <%= @alteration.client.measurement.rise %><br>
Neck: <%= @alteration.client.measurement.neck %><p>

<h4>Will Be Ready By:</h4>

<%= @alteration.date.strftime('%B %d, %Y')%>

<h3>Thank you for using Tailor Mailer!</h3>

<%= link_to 'Edit', edit_alteration_path(@alteration) %> 
<%= button_to "Cancel Order", alteration_path(@alteration), method: :delete %> 
<%= link_to 'My Orders', user_path(@user) %> 
