
<%= form_for(@tailor) do |f| %>
    <h3>Address</h3>
    <%= f.label :street %>
    <%= f.text_field :street %>
    <%= f.label :city %>
    <%= f.text_field :city %>
    <%= f.label :state %>
    <%= f.text_field :state %>
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code %>
    <%= f.submit %>

  <% end %>
  