<p id="notice"><%= notice %></p>

<h1>Tailors</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tailors.each do |tailor| %>
      <tr>
        <td><%= link_to 'Show', tailor %></td>
        <td><%= link_to 'Edit', edit_tailor_path(tailor) %></td>
        <td><%= link_to 'Destroy', tailor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tailor', new_tailor_path %>
