<h1>Reviews for <%= @tailor.name %></h1>
<h4>Average: <%= @tailor.display_ratings %></h4>
<% @reviews.each do |review| %> 
    <p>Rating: <%= review.rating %> / 5</p>
    <p><%= review.review %></p>
    <p>Reviewer: <%= review.client.name %></p>
    -----------------------------
<% end %>