<h1><%= @tailor.name %></h1>
<h4>Average Rating:</h4>
<h4>Bio:</h4>
<p>bio</p><br>
<p><%= link_to "Reviews", tailor_reviews_path(@tailor)%></p>
<p><%= link_to "Orders", tailor_alterations_path(@tailor) %></p>


<%= link_to 'Back', tailors_path %>
<br>
<br>
<%= button_to "Delete Tailor", tailor_path(@tailor), method: :delete %> 

