<h1><%= @tailor.name %></h1>
<h4>Average Rating:</h4>
<h4>Bio:</h4>
<p>bio</p><br>
<p><%= link_to "Reviews", tailor_reviews_path(@tailor)%></p>
<p><%= link_to "Request an Alteration", new_alteration_path %></p>
<p><%= link_to "Leave a Review", new_review_path %></p>

<%= link_to 'Back', tailors_path %>
<br>
<br>
<%= button_to "Delete Tailor", tailor_path(@tailor), method: :delete %> 

