<h1>Reviews</h1>

<% @reviews.reverse.each do |review| %>
    <div>
    
    <h3>Tailor: <%= link_to review.tailor.user.name, user_path(review.tailor.user) %></h3>
    
    <h4>Location: <%= review.tailor.user.city %>, <%= review.tailor.user.state %></h4>
    <p>Reviewer: <%= review.client.user.name  %></p>
    <p>Rating: <%= review.rating  %> / 5</p>
    <p>Review: <%= review.review  %></p>
    --------------------------------
    </div>
  <% end %>
  

<%= link_to 'New Review', new_review_path %>
