<h1>Reviews</h1>
  <% @reviews.reverse.each do |review| %>
    <div>
    
    <h3>Tailor: <%= link_to review.tailor.name, tailor_path(review.tailor) %></h3>
    <h4>Location: <%= review.tailor.city %>, <%= review.tailor.state %></h4>
    <p>Reviewer: <%= review.client.name  %></p>
    <p>Rating: <%= review.rating  %> / 5</p>
    <p>Review: <%= review.review  %></p>
    --------------------------------
    </div>
  <% end %>
  

<%= link_to 'New Review', new_review_path %>
