<!DOCTYPE html>
<html>
  <head>
    <title>Sartorial</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <table>
      <td><a href="/home">Home</a></td>
      <td><a href="/about">About</a></td>
      <td><%= link_to "Tailors", tailors_path %></td>
      <td><%= link_to "Reviews", reviews_path %></td>
      <td>Services</td>
    </table>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
